:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.form-grid {
  width: 60%;
  padding: 20px;
}

.form-layout {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  margin-bottom: 15px;
}

mat-form-field {
  width: calc(48% - 10px);
}

mat-form-field .mat-input-element {
  height: 20px;
}

button {
  margin-top: 15px;
  width: 20%; 
  display: block;
  margin: 0 auto;
}

.product-heading {
  color: #333; 
  font-size: 4rem; 
  font-weight: bold;
  margin-bottom: 20px; 
  text-align: center;
}