<section class="head-style">
  <a (click)="navigateBack()"
    ><mat-icon class="material-symbols-outlined"> arrow_back_ios </mat-icon></a
  >
  <h1 class="product-heading">Product Details</h1>
  <a (click)="downloadExcel()">
    <mat-icon class="material-symbols-outlined"> download </mat-icon
    ><span>Download Excel file</span></a
  >
</section>
<mat-card>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Id</mat-label>
      <input disabled="true" matInput value="{{ productDetail?.id }}" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Product Name</mat-label>
      <input
        disabled="true"
        matInput
        value="{{ productDetail?.productName }}"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input disabled="true" matInput value="{{ productDetail?.price }}" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <input disabled="true" matInput value="{{ productDetail?.category }}" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Brand</mat-label>
      <input disabled="true" matInput value="{{ productDetail?.brand }}" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Quantity In Stock</mat-label>
      <input
        disabled="true"
        matInput
        value="{{ productDetail?.quantityInStock }}"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Supplier</mat-label>
      <input disabled="true" matInput value="{{ productDetail?.supplier }}" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Weight</mat-label>
      <input disabled="true" matInput value="{{ productDetail?.weight }}" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Dimensions</mat-label>
      <input disabled="true" matInput value="{{ productDetail?.dimensions }}" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Manufacturing Date</mat-label>
      <input
        disabled="true"
        matInput
        value="{{ productDetail?.manufacturingDate | date }}"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Availability Status</mat-label>
      <input
        disabled="true"
        matInput
        value="{{ productDetail?.availabilityStatus }}"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        disabled="true"
        matInput
        value="{{ productDetail?.description }}"
      ></textarea>
    </mat-form-field>
  </mat-card-content>
</mat-card>
<br />
